
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div style="color:red;">
    <h1>No Data Found To Import!!!</h1>
    <p>It seems you forget to Select Data!</p>
     <div>
         <a asp-action="Index">Back</a>
     </div>
</div>
